.entries__container{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: $gap;
   

    .post_card{
        position: relative;
        background: $card_body_background;
        padding-bottom: $big;
        border-radius: 5px;
    box-shadow: 5px 5px 7px rgba($color: #000000, $alpha: .2);

        .post_card__header{
            background:$primary_color;
            display: flex;
            align-items: center;
            margin: 0;
            padding:0 1rem;
            color: $card_header_text;
            border-radius: 5px 5px 0 0 ;

            .post_card__header-author{
                font-size: $medium;
                font-weight: 400;
                position: relative;
                margin: 0;
                span {
                    font-size: $small;
                    padding: 0;
                    margin: 0;
                }
            
            }
            .post_card__postTime{
                font-size:10px;
                position: absolute;
                right: 0;
                top: 0;
                margin: 1rem;
                transform: translate(0,-100%);
            }
            .post_card__header-region{
                font-size: $small;
                font-weight: 100;
                margin: 0;
                margin-left: auto;
                align-self: flex-end;
                span {
                    font-size: $big;
                    margin-right: 1rem;
                }
            
            }

            


        }

        .post_card-content{
            padding: $small;
            p{
                margin: 0;
                font-size: $small;
                color: $card_body_text_07;
            }
        }

        .post_card-nav{
            margin: 0 $small;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(0, 50%);
        }
    }

}

