@media only screen and (max-width:500px)  {
  
    main{
        width: 100%;
        padding: 0;
        margin: 0;


    }
    .Sign__button{
        color: transparent;
        transition: 1s ;
        position: fixed;
        width: 4rem;
        height: 4rem;
        border-radius:50%;
        bottom: 15px;
        z-index: 99;
        margin: $big;
        padding: 0;
        right: 0;
        box-shadow: 3px 3px 12px rgba(0,0,0,.2);
        &::after {
            content:'+';
        color: $card_header_text;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: $sign_button;
            height: 100%;
            position: absolute;
            font-size: 1.7rem;
            border-radius:50%;
            padding: 0;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $sign_button;

    
        }
    }

    .entries__container{
        padding: .4rem;
        padding-bottom: 5rem;
        gap: 1.5rem;
        }

    .date__badge{
       flex-direction: row;
       gap: .2rem;
       margin: 0 -15px;
       padding: .1rem .2rem;
       .date_badge-month,
       .date_badge-year {
        font-weight: 400;
       }
       .date_badge-day{
        font-size: 14px;
       }
    }




    .entries__container{
        .post_card{
            .post_card-content{
                padding: $small;
                font-weight: 300;
                p{
                    margin: 0;
                    font-size: $small;
                    color:$card_body_text;
                }
            }
        }
    
    }
    
    
        .nav_lastPosts_scrolling {
            position: relative;
            border: 1px solid $card_body_text_05;
            margin: 2rem .4rem;
            border-radius: 8px;
    
            p {
                margin: 0;
                font-size: $small;
                font-weight: 300;
                color: $card_body_text;
            }
    
        }
    

        .InfoBadge{
            font-size: $small;
            font-weight: 300;
        }
}


@media only screen and (min-width:500px) and (max-width:868px )  {
    main{
        width: 100%;
        padding: 0;
        margin: 0;
    }
   
}