
// Colors map 
$primary_color : #25BCB6; 
$sign_button : #1d8b88; 
$secondry_color : #ED836E; 
$background_logo: #535A6C ; 
$background_primary : #b7d4da;
$card_body_background: #cce7e6;
$card_header_text: #ffffff; 
$card_body_text: #222222;
$card_body_text_07: #222222a8;
$card_body_text_05: #22222250;
$input_fields_color:#e4fffe;

//font and content 
$regular: 1.2rem ; 
$big: 1.7rem; 
$medium:1rem; 
$small: .8rem; 

//Cards gap 
 $gap:3rem;









